body {
  background-color: rgb(250, 250, 250);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
