article {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  margin-bottom: 30px;
  border-radius: 8px;
}

.counter-div {
  width: 8%;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-content {
  width: 100%;
}

a {
  width: 92%;
}

.IcoSubject {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header {
  display: flex;
  margin-top: 20px;
}

.header h2 {
  margin-bottom: -10px;
}

.redditInformation {
  display: flex;
  flex-wrap: wrap;
}

.subject {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  margin-right: 5px;
  font-size: 11pt;
}

h3 {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  margin-right: 5px;
  font-size: 10pt;
}

.counter {
  margin: 8px;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto';
  font-weight: bold;
  margin-right: 20px;
}

.articlePhoto {
  width: 100%;
}

.video-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.arrow-up:hover {
  color: green;
}

.arrow-down:hover {
  color: red;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
